import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Lato&display=swap');
*, *:before, *: after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root {
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --aero: #8eb8e5ff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
    --red: #F5605C;
}

h1 {
    color: var(--white);
    margin-bottom: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

#start-btn, #reset-btn, #go-btn {
    background-color: var(--orange-web);
    outline:none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: var(--oxford-blue);
    padding: 2.rem .3rem;
    cursor: pointer;
    transition: all .4s ease;
}

#start-btn:hover, #reset-btn:hover {
    filter: opacity(50%);
}

#start-btn:disabled, #reset-btn:disabled, #go-btn:disabled {
    filter: opacity(50%);
}


body {
    font-family: 'Lato', sans-serif;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      0deg,
      hsl(37deg 98% 53%) 1%,
      hsl(22deg 96% 60%) 14%,
      hsl(7deg 81% 62%) 21%,
      hsl(350deg 60% 56%) 27%,
      hsl(336deg 48% 46%) 36%,
      hsl(319deg 41% 37%) 46%,
      hsl(288deg 33% 30%) 59%,
      hsl(253deg 32% 25%) 76%,
      hsl(221deg 51% 16%) 100%
    );
}
.counter {
    text-align: center;
    color: var(--platinum);

}
.board-wrapper {
    padding: 1.5rem;
    border: 2px solid red;
    border-radius: 1rem;
    background-color: var(--oxford-blue);
    border: 2px solid var(--orange-web);
}

td {
    border: 2px solid var(--orange-web);
    border-radius: .2rem;
    color: var(--platinum);
    background-color: var(--orange-web);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.game-play-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#good-words h4 {
    color: var(--aero);
    text-decoration: underline;
}

#bad-words, #good-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

#good-words-top h4 {
    text-decoration: none;
    font-size: 1.2rem;
    white-space: no-wrap;
}

#bad-words-top {
    height: 40%;
}

#bad-words h4 {
    color: var(--red);
    text-decoration: underline;
}

#bad-list, #non-list {
    color: var(--red);
    list-style-type: none;
    text-decoration: none;
}

#good-list {
    color: var(--aero);
    list-style-type: none;
    text-decoration: none;
}


/***** utility classes *****/
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}