<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Boggle Game :)</title>
</head>
<body>
    <div class="popup">
        <div class="popup_wrapper">
            <div class="popup_top">
                <div class="popup_title">GAME RESULTS</div>
                <div style="margin-bottom: .5rem;">Number of games : <span id="num-games">{{num_games}}</span></div>
                <div class="popup_score">SCORE : <span id="score">0</span></div>
            </div>
            <div class="popup_results">
                <div>
                    <h4>GOOD WORDS : <span id="good-word-count">0</span></h4>
                    <ul id="good-list"></u>
                </div>
                <div>
                    <h4>BAD WORDS : <span id="bad-word-count">0</span></h4>
                    <ul id="bad-list"></ul>
                </div>
                <div>
                     <h4>NON WORDS : <span id="non-word-count">0</span></h4>
                    <ul id="non-list"></ul>
                </div>
            </div>
            <button id="close-btn" class="mb-1">CLOSE</button>
            </div>
        </div>
    </div>
    <h1 style="margin-top: -1.5rem;">BOGGLE !</h1>
    <div class="mb-1">
        <button id="start-btn">BEGIN</button>
        <button id="reset-btn"><a href="/">NEW BOARD</a></button>
    </div>
    <div class="counter">
        <div class="counter-title mb-1">TIME REMAINING ::  <span class="counter-display" id="counter"></span></div>
    </div>
    {% block content %}{% endblock %}
    <form id="the-form" autocomplete="off">
        <label for="word">Enter a Word
            <input type="text" name="word" id="word-input">
            <button type="submit" id="go-btn">GO</button>
        </label>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/app.js"></script>
</body>
</html>