{% extends 'base.html' %}

{% block content %}
<div class="game-play-wrapper">
    <div id="good-words">
        <h4>GOOD WORDS : <span id="good-word-count">0</span></h4>
        <ul id="good-list"></ul>
    </div>
    <div class="board-wrapper mb-2">
        <table class="board">
            {% for row in session['BOARD'] %}
                <tr>
                    {% for el in row %}
                    <td class="letter">{{el}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="bad-words">
        <h4>BAD WORDS : <span id="bad-word-count">0</span></h4>
        <ul id="bad-list"></ul>
    </div>
</div>
{%endblock%}