{% extends 'base.html' %}

{% block content %}
<div class="game-play-wrapper">
    <div id="good-words">
        <div id="good-words-top">
            <h4>SCORE : <span id="score">0</span></h>
        </div>
        <div id="good-words-bottom">
            <h4>GOOD WORDS : <span id="good-word-count">0</span></h4>
            <ul id="good-list"></u>
        </div>

    </div>
    <div class="board-wrapper mb-2">
        <table class="board">
            {% for row in session['BOARD'] %}
                <tr>
                    {% for el in row %}
                    <td class="letter">{{el}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="bad-words">
        <div id="bad-words-top">
            <h4>BAD WORDS : <span id="bad-word-count">0</span></h4>
            <ul id="bad-list"></ul>
        </div>
        <div id="bad-words-bottom">
             <h4>NON WORDS : <span id="non-word-count">0</span></h4>
            <ul id="non-list"></ul>
        </div>
    </div>
</div>
{%endblock%}